Flask==2.0.1
Werkzeug==2.0.1
click==8.0.1
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
pytest==6.2.4
blinker==1.4
exceptiongroup==1.0.0rc9
iniconfig==1.1.1
packaging==21.0
pluggy==0.13.1
tomli==1.2.1
